South==0.8.1
MySQL-python==1.2.5
dj-database-url==0.2.1
django-appconf==0.6
django-debug-toolbar==0.9.4
django-extensions==1.1.1
django-indexer==0.3.0
django-nose==1.1
django-paging==0.2.5
django-sentry==1.13.5
django-templatetag-sugar==0.1
gunicorn==0.17.4
Django==1.5.5
