{% extends "default.html" %}

{% block body %}
<h1>{{ the_title }}</h1>
<div class="row">
    <div class="span5">
        <h2>Listes :</h2>
        <ul>
            {% for list in lists %}
                <li>
                    {% load tags %}
                    <a href="{% url 'showlist' list.id 'clean' %}"><i class="icon-shopping-cart"></i></a>
                    <span class="badge {% countbadgetype list %}">{% itemsless list %}</span><b><a href='{% url 'showlist' list.id %}'> {{list}}</a></b>
                </li>
            {% endfor %}
            <li>
                {% load tags %}
                <a href="{% url 'showlist' 'all' 'clean' %}"><i class="icon-th-list"></i></a>
                <span class="badge {% countbadgetype full_list %}">{% itemsless full_list %}</span><b><a href='{% url 'showlist' 'all' %}'> Full Liste{{list}}</a></b>
            </li>
        </ul>
    </div>
    <div class="span5">
        <h2>Recettes :</h2>
        <ul>
            {% for recipe in recipes %}
                <li>

                    {% load tags %}
                    <span class="badge {% countbadgetype recipe %}">{% itemsless recipe %}</span><b><a href='{% url 'showrecipe' recipe.id %}'> {{recipe}}</a></b>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>

{% endblock %}
