{% extends "default.html" %}

{% block body %}
<h1>{{ the_title }}</h1>
<div class="row">
    <div class="span5">
        {% for cathegory,items in items.iteritems %}
        <b>{{ cathegory  }} :</b>
        <ul>
            {% for item in items %}
                <li>
                {% if item.outOfStock %}
                    <label class="checkbox">
                      <i id="ref{{item.id}}" class="icon-refresh" style="display: none"></i>
                      <input id="{{item.id}}" onClick="checkitem({{ item.id }});" type="checkbox" value="">
                      <span id="txt{{item.id}}" style=''>{{item}}</span>
                    </label>
                {% else %}
                    <label class="checkbox">
                      <i id="ref{{item.id}}" class="icon-refresh" style="display: none"></i>
                      <input id="{{item.id}}" onClick="checkitem({{ item.id }});" type="checkbox" value="" checked>
                      <!--<strike style='color: grey'>{{item}}</strike>-->
                      <span id="txt{{item.id}}"style='color: grey'>{{item}}</span>
                    </label>
                {% endif %}
                </li>
            {% endfor %}
        </ul>
        {% endfor %}
    </div>
    <div class="span5">
    </div>
</div>

<script type="text/javascript">
function checkitem(itemid) {
    $("#ref"+itemid).attr('style', "")
    //$("#"+itemid).attr('checked', true);

 $.ajax({
   url: "/changeitemstock/"+itemid,
     success: function(data){
       //chomp data
       data = data.replace(/(\n|\r)+$/, '');
       $("#ref"+itemid).attr('style', "display: none")
       if (data+'' == "True") {
           $("#txt"+itemid).attr('style', "")
       } else {
           $("#txt"+itemid).attr('style', "color: grey")
       }
   },
 });


}
</script>

{% endblock %}

