{% extends "default.html" %}

{% block body %}
<h1>{{ the_title }}</h1>
<div class="row">
    <div class="span5">
        <ul>
        {% for cathegory,items in items.iteritems %}
            {% for item in items %}
                <li>
                {% if item.outOfStock %}
                    <i class="icon-remove"></i> <strike style='color: red'>{{item}}</strike>
                {% else %}
                    <i class="icon-remove icon-white"></i> {{item}}
                {% endif %}
                </li>
            {% endfor %}
        {% endfor %}
        </ul>
    </div>
    <div class="span5">
    </div>
</div>

<script type="text/javascript">
function checkitem(itemid) {
    $("#ref"+itemid).attr('style', "")
    //$("#"+itemid).attr('checked', true);

 $.ajax({
   url: "/changeitemstock/"+itemid,
     success: function(data){
       //chomp data
       data = data.replace(/(\n|\r)+$/, '');
       $("#ref"+itemid).attr('style', "display: none")
       if (data+'' == "True") {
           $("#txt"+itemid).attr('style', "")
       } else {
           $("#txt"+itemid).attr('style', "color: grey")
       }
   },
 });


}
</script>

{% endblock %}

