{% extends "default.html" %}

{% block body %}
<h1>{{ the_title }}</h1>
<div class="row">
    <div class="span5">
        <ul>
        {% for cathegory,items in items.iteritems %}
            {% for item in items %}
                <li>
                {% if item.outOfStock %}
                    <i class="icon-remove"></i> <strike style='color: red'>{{item}}</strike>
                {% else %}
                    <i class="icon-remove icon-white"></i> {{item}}
                {% endif %}
                </li>
            {% endfor %}
        {% endfor %}
        </ul>
    </div>
    <div class="span5">
    </div>
</div>

{% include "changeitemstock.js" %}

{% endblock %}

