{% extends "default.html" %}

{% block body %}
<h1>{{ the_title }}</h1>
<h2>Ingrédients</h2>
<div class="row">
    <div class="span5">
        <ul>
        {% for category,items in items.items %}
            {% for item in items %}
                <li>
                    <label class="checkbox">
                      <div id="ref{{item.id}}" class="spinner-border spinner-border-sm text-secondary" role="status" style="display: none">
                        <span class="sr-only">Loading...</span>
                      </div>
                        {% if item.outOfStock %}
                            <input id="{{item.id}}" onClick="checkitem({{ item.id }});" type="checkbox" value="">
                        {% else %}
                            <input id="{{item.id}}" onClick="checkitem({{ item.id }});" type="checkbox" value="" checked>
                        {% endif %}
                        <span id="txt{{item.id}}" class="text-body">{{item}}</span>
                    </label>
                </li>
            {% endfor %}
        {% endfor %}
        </ul>
    </div>
    <div class="span5">
    </div>
</div>

{% if description_html != "" %}
<h1>Description</h1>
{{ description_html|safe}}
{% endif %}


{% include "changeitemstock.js" %}

{% endblock %}
